<%# app/views/users/articles/index.html.erb %>

<div class="container">
  <h2>記事一覧</h2>

  <div class="d-flex justify-content-center mb-3">
    <%= link_to '記事新規作成', new_users_article_path, class: 'btn btn-primary btn-lg mx-2 px-4 py-2' %>
    <%= link_to 'ダッシュボードへ戻る', users_dash_boards_path, class: 'btn btn-secondary btn-lg mx-2 px-4 py-2' %>
  </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>詳細表示</th>
          <th>タイトル</th>
          <th>内容</th>
          <th>画像</th>
          <th>編集・削除</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to '詳細', users_article_path(article), class: "btn btn-info" %></td>
            <td><%= article.title %></td>
            <td><%= article.content %></td>
            <td><%= image_tag article.image.url(:thumb) if article.image.present? %></td>
            <td>
              <%= link_to '編集', edit_users_article_path(article), class: "btn btn-success" %>
              <%= link_to '削除', users_article_path(article), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
