<%#app/views/users/articles/show.html.erb %>
<div class="container">
  <h2>記事詳細</h2>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
          <th>画像</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @article.title %></td>
          <td><%= @article.content %></td>
          <td><%= image_tag @article.image.url(:thumb) if @article.image.present? %></td>
        </tr>
      </tbody>
    </table>

      <!-- 編集ボタン・削除ボタン -->
      <div class="actions text-center my-3">
        <%= link_to "編集", edit_users_article_path(@article), class: "btn btn-success mx-1" %>
        <%= link_to "削除", users_article_path(@article), method: :delete,
              data: {confirm: "削除してよろしいですか？"},
              class: "btn btn-danger mx-1" %>
      </div>
      <div class="actions text-center">
        <%= link_to "記事一覧に戻る", users_articles_path, class: "btn btn-primary btn-article-submit" %>
      </div>

  </div>
</div>
